-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: venuepro
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `booking_singular_items`
--

DROP TABLE IF EXISTS `booking_singular_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booking_singular_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_id` int(11) NOT NULL,
  `singular_item_id` int(11) DEFAULT NULL,
  `item_name` varchar(150) NOT NULL,
  `emoji` varchar(20) DEFAULT '­ƒì¢´©Å',
  `dietary_tag` varchar(20) DEFAULT '',
  `unit_price` decimal(10,2) NOT NULL,
  `quantity` int(11) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `item_status` enum('Pending','Accepted','Rejected') DEFAULT 'Pending',
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `booking_id` (`booking_id`),
  KEY `singular_item_id` (`singular_item_id`),
  CONSTRAINT `booking_singular_items_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `booking_singular_items_ibfk_2` FOREIGN KEY (`singular_item_id`) REFERENCES `singular_menu_items` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_singular_items`
--

LOCK TABLES `booking_singular_items` WRITE;
/*!40000 ALTER TABLE `booking_singular_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_singular_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_code` varchar(50) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `venue_id` int(11) NOT NULL,
  `package_id` int(11) DEFAULT NULL,
  `event_name` varchar(150) NOT NULL,
  `event_date` date NOT NULL,
  `start_time` time NOT NULL DEFAULT '18:00:00',
  `end_time` time NOT NULL DEFAULT '22:00:00',
  `guest_count` int(11) NOT NULL DEFAULT 100,
  `duration_hours` int(11) DEFAULT 4,
  `venue_cost` decimal(10,2) NOT NULL DEFAULT 0.00,
  `package_cost` decimal(10,2) NOT NULL DEFAULT 0.00,
  `staffing_cost` decimal(10,2) NOT NULL DEFAULT 640.00,
  `addons_cost` decimal(10,2) NOT NULL DEFAULT 0.00,
  `subtotal` decimal(10,2) NOT NULL,
  `service_fee` decimal(10,2) NOT NULL,
  `tax_vat` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `payment_status` enum('paid','pending','refunded') DEFAULT 'paid',
  `payment_card_last4` varchar(4) DEFAULT '4242',
  `booking_status` enum('pending','confirmed','rejected','completed','cancelled','canceled') DEFAULT 'pending',
  `caterer_status` enum('pending','accepted','rejected') DEFAULT 'pending',
  `caterer_rejection_reason` text DEFAULT NULL,
  `special_notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `booking_code` (`booking_code`),
  KEY `customer_id` (`customer_id`),
  KEY `venue_id` (`venue_id`),
  KEY `package_id` (`package_id`),
  KEY `idx_event_date` (`event_date`),
  KEY `idx_booking_status` (`booking_status`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`venue_id`) REFERENCES `venues` (`id`),
  CONSTRAINT `bookings_ibfk_3` FOREIGN KEY (`package_id`) REFERENCES `catering_packages` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caterer_orders`
--

DROP TABLE IF EXISTS `caterer_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `caterer_orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_code` varchar(50) NOT NULL,
  `booking_id` int(11) NOT NULL,
  `caterer_id` int(11) NOT NULL,
  `covers_count` int(11) NOT NULL DEFAULT 100,
  `preparation_status` enum('Preparing','Delivering','Completed') DEFAULT 'Preparing',
  `package_decision` enum('Pending','Accepted','Rejected') DEFAULT 'Pending',
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_code` (`order_code`),
  KEY `booking_id` (`booking_id`),
  KEY `caterer_id` (`caterer_id`),
  KEY `idx_prep_status` (`preparation_status`),
  CONSTRAINT `caterer_orders_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `caterer_orders_ibfk_2` FOREIGN KEY (`caterer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caterer_orders`
--

LOCK TABLES `caterer_orders` WRITE;
/*!40000 ALTER TABLE `caterer_orders` DISABLE KEYS */;
INSERT INTO `caterer_orders` VALUES (1,'ORD-2045',1,2,320,'Preparing','Accepted',NULL,'2026-09-15 04:35:00'),(2,'ORD-1882',2,2,150,'Preparing','Accepted',NULL,'2026-09-18 08:20:00'),(3,'ORD-9011',3,2,80,'Preparing','Pending',NULL,'2026-09-22 03:50:00'),(4,'ORD-7720',4,2,250,'Preparing','Accepted',NULL,'2026-09-28 10:25:00');
/*!40000 ALTER TABLE `caterer_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caterer_profiles`
--

DROP TABLE IF EXISTS `caterer_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `caterer_profiles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `business_name` varchar(150) NOT NULL,
  `owner_name` varchar(100) NOT NULL,
  `kitchen_address` text NOT NULL,
  `specialization` varchar(100) DEFAULT 'Fine Dining',
  `rating` decimal(2,1) DEFAULT 4.9,
  `review_count` int(11) DEFAULT 120,
  `approval_status` enum('approved','under_review','rejected') DEFAULT 'approved',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `caterer_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caterer_profiles`
--

LOCK TABLES `caterer_profiles` WRITE;
/*!40000 ALTER TABLE `caterer_profiles` DISABLE KEYS */;
INSERT INTO `caterer_profiles` VALUES (1,2,'Rivera Culinary Arts & Catering','Alex Rivera','104 Culinary Row, Arts District, Metropolis','Fine Dining, Executive Banquets, Molecular Gastronomy',4.9,120,'approved','2026-10-01 19:01:08');
/*!40000 ALTER TABLE `caterer_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catering_packages`
--

DROP TABLE IF EXISTS `catering_packages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `catering_packages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `caterer_id` int(11) DEFAULT NULL,
  `title` varchar(150) NOT NULL,
  `tier` enum('Gold','Platinum','Signature','Custom') DEFAULT 'Gold',
  `price_per_event` decimal(10,2) NOT NULL DEFAULT 1200.00,
  `price_per_guest` decimal(10,2) NOT NULL DEFAULT 24.00,
  `min_guests` int(11) DEFAULT 30,
  `max_capacity` int(11) DEFAULT 500,
  `description` text NOT NULL,
  `cuisine_type` varchar(100) DEFAULT 'Fine Dining',
  `service_style` varchar(100) DEFAULT 'Plated Banquet',
  `features` text DEFAULT NULL,
  `status` enum('published','draft','archived') DEFAULT 'published',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `caterer_id` (`caterer_id`),
  CONSTRAINT `catering_packages_ibfk_1` FOREIGN KEY (`caterer_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catering_packages`
--

LOCK TABLES `catering_packages` WRITE;
/*!40000 ALTER TABLE `catering_packages` DISABLE KEYS */;
/*!40000 ALTER TABLE `catering_packages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sender_id` int(11) NOT NULL,
  `receiver_id` int(11) NOT NULL,
  `booking_id` int(11) DEFAULT NULL,
  `message` text NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `receiver_id` (`receiver_id`),
  KEY `booking_id` (`booking_id`),
  KEY `idx_conversation` (`sender_id`,`receiver_id`),
  CONSTRAINT `chat_messages_ibfk_1` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_messages_ibfk_2` FOREIGN KEY (`receiver_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chat_messages_ibfk_3` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_code` varchar(50) NOT NULL,
  `booking_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `issue_date` date NOT NULL,
  `due_date` date NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `service_fee` decimal(10,2) NOT NULL,
  `vat_tax` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `payment_status` enum('paid','unpaid','overdue') DEFAULT 'paid',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_code` (`invoice_code`),
  KEY `booking_id` (`booking_id`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `invoices_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invoices_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
INSERT INTO `invoices` VALUES (1,'INV-2026-9021',1,1,'2026-09-15','2026-09-15',4995.00,499.50,399.60,5894.10,'paid','2026-09-15 04:30:00'),(2,'INV-2026-8843',2,1,'2026-09-18','2026-09-18',5030.00,503.00,402.40,5935.40,'paid','2026-09-18 08:15:00'),(3,'INV-2026-9011',3,1,'2026-09-22','2026-10-22',5116.00,511.60,409.28,6036.88,'paid','2026-09-22 03:45:00'),(4,'INV-2027-7720',4,1,'2026-09-28','2026-09-28',5880.00,588.00,470.40,6938.40,'paid','2026-09-28 10:20:00');
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `title` varchar(150) NOT NULL,
  `message` text NOT NULL,
  `type` enum('booking','order','system','chat','payment') DEFAULT 'booking',
  `link_url` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_unread` (`user_id`,`is_read`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `package_menu_items`
--

DROP TABLE IF EXISTS `package_menu_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `package_menu_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `package_id` int(11) NOT NULL,
  `course` enum('Appetizers','Main Course','Desserts','Beverages') DEFAULT 'Main Course',
  `item_name` varchar(150) NOT NULL,
  `dietary_tag` varchar(20) DEFAULT '',
  `portion_note` varchar(255) DEFAULT NULL,
  `unit_value` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `package_id` (`package_id`),
  CONSTRAINT `package_menu_items_ibfk_1` FOREIGN KEY (`package_id`) REFERENCES `catering_packages` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `package_menu_items`
--

LOCK TABLES `package_menu_items` WRITE;
/*!40000 ALTER TABLE `package_menu_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `package_menu_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `singular_menu_items`
--

DROP TABLE IF EXISTS `singular_menu_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `singular_menu_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `caterer_id` int(11) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `item_key` varchar(50) NOT NULL,
  `category` varchar(50) DEFAULT 'Food',
  `emoji` varchar(20) DEFAULT '­ƒì¢´©Å',
  `image_url` varchar(255) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `unit_label` varchar(30) DEFAULT 'piece',
  `quantity_available` int(11) DEFAULT 100,
  `min_order_qty` int(11) DEFAULT 1,
  `description` text DEFAULT NULL,
  `dietary_tags` text DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `item_key` (`item_key`),
  KEY `caterer_id` (`caterer_id`),
  KEY `idx_category` (`category`),
  CONSTRAINT `singular_menu_items_ibfk_1` FOREIGN KEY (`caterer_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `singular_menu_items`
--

LOCK TABLES `singular_menu_items` WRITE;
/*!40000 ALTER TABLE `singular_menu_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `singular_menu_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_policies`
--

DROP TABLE IF EXISTS `site_policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `site_policies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `policy_key` varchar(50) NOT NULL,
  `title` varchar(150) NOT NULL,
  `content` mediumtext NOT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `policy_key` (`policy_key`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `site_policies_ibfk_1` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_policies`
--

LOCK TABLES `site_policies` WRITE;
/*!40000 ALTER TABLE `site_policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `site_policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_assignments`
--

DROP TABLE IF EXISTS `staff_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_assignments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_id` int(11) NOT NULL,
  `staff_id` int(11) NOT NULL,
  `role_title` varchar(100) DEFAULT 'Event Coordinator',
  `shift_time` varchar(100) DEFAULT '16:00 - 23:00',
  `setup_status` enum('pending','in_progress','completed') DEFAULT 'in_progress',
  `checklist_json` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `booking_id` (`booking_id`),
  KEY `staff_id` (`staff_id`),
  CONSTRAINT `staff_assignments_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `staff_assignments_ibfk_2` FOREIGN KEY (`staff_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_assignments`
--

LOCK TABLES `staff_assignments` WRITE;
/*!40000 ALTER TABLE `staff_assignments` DISABLE KEYS */;
INSERT INTO `staff_assignments` VALUES (1,1,3,'Lead Event Coordinator','16:00 - 23:00','in_progress','{\"c1\":true,\"c2\":true,\"c3\":true,\"c4\":true,\"c5\":false,\"c6\":false,\"c7\":false,\"c8\":false,\"c9\":false,\"c10\":false}','2026-09-16 03:00:00'),(2,2,5,'Senior A/V & Stage Engineer','16:30 - 23:00','pending','{\"c1\":false,\"c2\":false,\"c3\":false,\"c4\":false,\"c5\":false}','2026-09-19 05:00:00'),(3,3,6,'Logistics & Guest Services Lead','15:00 - 23:30','pending','{\"c1\":false,\"c2\":false,\"c3\":false,\"c4\":false,\"c5\":false}','2026-09-23 04:00:00');
/*!40000 ALTER TABLE `staff_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_profiles`
--

DROP TABLE IF EXISTS `staff_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_profiles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `staff_code` varchar(50) NOT NULL,
  `department` varchar(100) DEFAULT 'Event Operations',
  `assigned_venues` text DEFAULT NULL,
  `active_status` enum('active','on_leave','inactive') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `staff_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_profiles`
--

LOCK TABLES `staff_profiles` WRITE;
/*!40000 ALTER TABLE `staff_profiles` DISABLE KEYS */;
INSERT INTO `staff_profiles` VALUES (1,3,'STF-1001','Lead Event Coordination',NULL,'active','2026-10-01 19:01:08'),(2,5,'STF-1002','A/V & Stage Technology',NULL,'active','2026-10-01 19:01:08'),(3,6,'STF-1003','Guest Hospitality & Protocol',NULL,'active','2026-10-01 19:01:08');
/*!40000 ALTER TABLE `staff_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('customer','caterer','staff','admin') NOT NULL DEFAULT 'customer',
  `phone` varchar(30) DEFAULT NULL,
  `avatar_text` varchar(5) DEFAULT 'U',
  `avatar_bg` varchar(20) DEFAULT '#2563eb',
  `status` enum('active','pending','suspended') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_role` (`role`),
  KEY `idx_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venues`
--

DROP TABLE IF EXISTS `venues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `venues` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `slug` varchar(150) NOT NULL,
  `venue_type` varchar(50) NOT NULL DEFAULT 'Ballroom',
  `address` varchar(255) NOT NULL,
  `district` varchar(100) NOT NULL,
  `capacity` int(11) NOT NULL,
  `base_rate` decimal(10,2) NOT NULL DEFAULT 2400.00,
  `service_fee_pct` decimal(4,2) DEFAULT 10.00,
  `additional_hour_rate` decimal(10,2) DEFAULT 350.00,
  `rating` decimal(2,1) DEFAULT 4.9,
  `review_count` int(11) DEFAULT 124,
  `description` text DEFAULT NULL,
  `amenities` text DEFAULT NULL,
  `image_url` varchar(255) DEFAULT '../assets/venue-default.jpg',
  `badge` varchar(50) DEFAULT 'PREMIUM',
  `status` enum('active','inactive','maintenance') DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_venue_type` (`venue_type`),
  KEY `idx_capacity` (`capacity`),
  KEY `idx_base_rate` (`base_rate`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venues`
--

LOCK TABLES `venues` WRITE;
/*!40000 ALTER TABLE `venues` DISABLE KEYS */;
/*!40000 ALTER TABLE `venues` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-02  1:01:12
